html,
body {
    width: 100%;
    height: 100%;
}

.tag {
    &-CSS {
        color: #954d33;
    }
    &-JS {
        color: #b8a348;
    }
    &-HTML {
        color: #4a729c;
    }
    &-TS {
        color: #594a9c;
    }
    &-REACT {
        color: #4a8e9c;
    }
}
